## 두 정수 사이의 합

In [19]:
def solution(a, b):    
    answer = 0
    if a<b:
        for i in range(a,b+1):
            answer+=i
        return answer
    else:
        for j in range(b,a+1):
            answer+=j
        return answer

In [ ]:
def solution(a, b):    
    answer = 0
    if a<b:
        return sum(range(a,b+1))
    else:
        return sum(range(b,a+1))

In [21]:
solution(5,3)

12

Solution

In [14]:
def adder(a, b):
    return sum(range(min(a,b), max(a,b) + 1))

range(4, 4)